 <div class="row">
        <section class="main col-md-12">
          <article>
          <h2>About</h2>
          <p> This was a web application developed for WEB322 at Seneca College.</p>
         </article>
        </section>
      </div>