<div class="row">
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Website currently under development. Thank you for your patience.</p>
  </aside>
  <section class="main col-md-9">
    <article>
    <h2>Welcome</h2>
    <p>Hello! Welcome to my web application. This application is a webform uses the handlebars view enginer to render JSON data, and information can be updated on this web form. </p>
    <p>Data is accessed through a Postgres data source on the server.</p>
    <br>
    <p>As shown on the navigation bar, the menus available are the about section, the image section (allows you to upload images), the employee section (allows you to enter employee information), and a departments section. </p>
   </article>
  </section>
</div>